.barChart {
  background-color: #fbfbfb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 0 0 10px;
  margin-bottom: 40px;
  @media screen and (max-width: $breakpoint-desktop) {
    height: 200px;
  }
}
