.index {
  width: 90%;
  position: absolute;
  @include flex-space-a;
  top: 100px;
  left: 90px;
  padding: 10px 0 0 50px;
}
.charts {
  display: flex;
  @include flex-space-a;
}
.item {
  margin-left: 40px;
}
